

<h2>User info</h2>
<div>
  <% if user.profile_image.attached? %>
    <%= image_tag user.profile_image, size: "100x100", class: "profile-image" %>
  <% else %>
    <%= image_tag "default-image.jpg", size: "100x100", class: "profile_image" %>
  <% end %>
</div>

<div>
  <strong>name</strong> <%= user.name %>
</div>
<div>
  <strong>introduction</strong><%= user.introduction.present? ? user.introduction : "" %>
</div>


<div>
  <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog" aria-hidden="true"></i>
  <% end %>
</div>